@font-face {
  font-family: "Josefin Sans Bold";
  src: url(../assets/fonts/josefin-sans.bold.ttf);
}
@font-face {
  font-family: "Josefin Sans Semi-bold";
  src: url(../assets/fonts/josefin-sans.semibold.ttf);
}
::-webkit-scrollbar {
  width: 0.5vmin;
}

::-webkit-scrollbar-track {
  background: whitesmoke;
}

::-webkit-scrollbar-thumb {
  background: tomato;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  height: auto;
  font-size: 10px;
  font-family: "Josefin Sans Bold", sans-serif, system-ui, -apple-system;
  color: #f5f5f5;
  background-color: #000;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #f5f5f5;
}

.common-width-content-container {
  width: min(100%, 1800px);
  margin: 0 auto;
}

header {
  background-color: #000;
  font-size: 1.8rem;
  padding: 1vmin 2vmin;
}
header .common-width-content-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .logo {
  font-size: 2em;
  cursor: pointer;
}
header .navbar-links {
  display: flex;
  align-items: center;
  gap: 1em;
}
header .navbar-links .navbar-link {
  background-color: #171717;
  padding: 0.5em;
  border-radius: 0.25em;
  cursor: pointer;
}
header .navbar-links .navbar-link:hover:not(.get-in-touch-link) a {
  color: #ff6347;
}
header .navbar-links .get-in-touch-link {
  background-color: #ff6347;
}
header .navbar-links .get-in-touch-link a {
  color: #000;
}
header .navbar-links .get-in-touch-link:hover {
  background-color: #171717;
}
header .navbar-links .get-in-touch-link:hover a {
  color: #ff6347;
}

main section {
  margin-bottom: 1vmin;
}
main .hero-sect {
  height: 900px;
}
main .hero-sect .common-width-content-container {
  height: 100%;
  background-image: url("../assets/images/hero.png");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  border-radius: 1vmin;
  position: relative;
}
main .hero-sect .hero__texts {
  position: absolute;
  bottom: 10%;
  left: 5%;
  right: 5%;
  display: flex;
  flex-direction: column;
}
main .hero-sect .hero__texts .hero__large-text {
  font-size: 16.8rem;
  font-family: "Josefin Sans Semi-bold";
  line-height: 1;
}
main .hero-sect .hero__texts .hero__large-text span:last-child {
  display: block;
  text-indent: 2ch;
}
main .hero-sect .hero__texts .hero__small-text-container {
  display: flex;
  justify-content: space-between;
  align-items: end;
  font-size: 2.4rem;
  margin: 1em 0 0 10em;
}
main .hero-sect .hero__texts .hero__small-text-container .hero__small-text {
  color: #999;
}
main .hero-sect .hero__texts .hero__small-text-container .hero__learn-more-link {
  cursor: pointer;
}
main .hero-sect .hero__texts .hero__small-text-container .hero__learn-more-link span {
  border: 1px solid #f5f5f5;
  padding: 0.25em;
  border-radius: 50%;
  background-color: rgba(245, 245, 245, 0.2);
}
main .hero-sect .hero__texts .hero__small-text-container .hero__learn-more-link:hover {
  color: #ff6347;
}
main .hero-sect .hero__texts .hero__small-text-container .hero__learn-more-link:hover span {
  border-color: #ff6347;
}
main .learn-more-sect .common-width-content-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1vmin;
}
main .learn-more-sect .learn-more__card {
  background-color: #171717;
  font-size: 2rem;
  padding: 4vmin;
  border-radius: 1vmin;
}
main .learn-more-sect .learn-more__card h3 {
  font-size: 2.4rem;
  margin-bottom: 0.75em;
}
main .learn-more-sect .learn-more__card p {
  color: #999;
  margin-bottom: 2.25em;
}
main .learn-more-sect .learn-more__card span {
  cursor: pointer;
}
main .learn-more-sect .learn-more__card span span {
  padding: 0.25em;
  border: 1px solid whitesmoke;
  border-radius: 50%;
  background-color: rgba(245, 245, 245, 0.2);
}
main .learn-more-sect .learn-more__card span:hover {
  color: #ff6347;
}
main .learn-more-sect .learn-more__card span:hover span {
  border-color: #ff6347;
}
main .show-numbers-sect .common-width-content-container {
  display: flex;
  justify-content: space-between;
  padding: 4vmin;
}
main .show-numbers-sect .show-numbers__box p:first-child {
  color: #999;
  font-size: 1.8rem;
}
main .show-numbers-sect .show-numbers__box p:last-child {
  font-size: 5.4rem;
}
main .about-sect {
  height: 600px;
}
main .about-sect .common-width-content-container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1vmin;
}
main .about-sect .about__texts {
  background-color: #171717;
  padding: 4vmin;
  border-radius: 1vmin;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main .about-sect .about__texts h2,
main .about-sect .about__texts h3 {
  margin-bottom: 1em;
}
main .about-sect .about__texts h2 {
  font-size: 2rem;
}
main .about-sect .about__texts h3 {
  font-size: 5.4rem;
}
main .about-sect .about__texts div {
  display: flex;
  gap: 8vmin;
}
main .about-sect .about__texts div p {
  color: rgb(150, 150, 150);
  font-size: 2rem;
}
main .about-sect .about__image {
  background-image: url("../assets/images/about.png");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  border-radius: 1vmin;
}
main .advantages-sect h2 {
  font-size: 5.4rem;
  padding: 4vmin;
}
main .advantages-sect .advantages__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: "image1 text1" "image1 text2" "text3 image2" "text4 image2";
  gap: 2vmin;
}
main .advantages-sect .advantages__grid .advantages__image1 {
  grid-area: image1;
  background-image: url("../assets/images/advantage1.png");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}
main .advantages-sect .advantages__grid .advantages__text1 {
  grid-area: text1;
}
main .advantages-sect .advantages__grid .advantages__text2 {
  grid-area: text2;
}
main .advantages-sect .advantages__grid .advantages__text3 {
  grid-area: text3;
}
main .advantages-sect .advantages__grid .advantages__text4 {
  grid-area: text4;
}
main .advantages-sect .advantages__grid .advantages__image2 {
  grid-area: image2;
  background-image: url("../assets/images/advantage2.png");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}
main .advantages-sect .advantages__grid .advantages__texts {
  font-size: 2rem;
  padding: 4vmin;
  display: flex;
  gap: 8vmin;
  background-color: #171717;
}
main .advantages-sect .advantages__grid .advantages__texts .advantages__text h3 {
  font-size: 2.4rem;
  margin-bottom: 1em;
}
main .advantages-sect .advantages__grid .advantages__texts .advantages__text p {
  color: #999;
}
main .advantages-sect .advantages__grid .advantages__texts .advantage__explore {
  display: flex;
  align-items: end;
}
main .advantages-sect .advantages__grid .advantages__texts .advantage__explore .advantage__explore-link {
  white-space: nowrap;
  cursor: pointer;
}
main .advantages-sect .advantages__grid .advantages__texts .advantage__explore .advantage__explore-link span {
  padding: 0.25em;
  border: 1px solid #f5f5f5;
  border-radius: 50%;
  background-color: rgba(245, 245, 245, 0.2);
}
main .advantages-sect .advantages__grid .advantages__texts .advantage__explore .advantage__explore-link:hover {
  color: #ff6347;
}
main .advantages-sect .advantages__grid .advantages__texts .advantage__explore .advantage__explore-link:hover span {
  border-color: #ff6347;
}/*# sourceMappingURL=style.css.map */